<a href="https://colab.research.google.com/github/dngud9701/python_programming/blob/main/Chapter03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = [0,1,2,3,4]
print(a[:3], a[:-3])

[0, 1, 2] [0, 1]

In [2]:
a = [0,1,2,3,4]
print(a[::-1])

[4, 3, 2, 1, 0]

In [3]:
first = ["egg", "salad", "bread", "soup", "canafe"]
second = ["fish", "lamb", "pork", "beef", "chicken"]
third = ["apple", "banana", "orange", "grape", "mango"]

order = [first, second, third]
john = [order[0][:-2], second[1::3], third[0]]
del john[2]
john.extend([order[2][0:1]])
print(john)

[['egg', 'salad', 'bread'], ['lamb', 'chicken'], ['apple']]

In [5]:
list_a = [3,2,1,4]
list_b = sorted(list_a)
print(list_a, list_b)

[3, 2, 1, 4] [1, 2, 3, 4]

In [7]:
a = [5,7,3]
b = [3,9,1]
c = a + b
print(c)
c = sorted(c)
print(c)

[5, 7, 3, 3, 9, 1]
[1, 3, 3, 5, 7, 9]

In [8]:
fruits = ['apple', 'banana', 'cherry', 'grape', 'orange', 'strawberry', 'melon']
print(fruits[-3:])
print(fruits[1::3])

['orange', 'strawberry', 'melon']
['banana', 'orange']

In [9]:
num = [1,2,3,4]
print(num * 2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [10]:
a = [1,2,3,5]
b = ['a', 'b', 'c', 'd', 'e']

a.append('g')
b.append(6)
print('g' in b, len(b))

False 6

In [12]:
list_a = ['Hankko', 'University', 'is', 'an', 'academic', 'institute', 'located', 'in', 'South Korea']
list_b = []
for i in range(len(list_a)):
  print(i)
  if i % 2 != 1:
    list_b.append(list_a[i])
print(list_b)

0
1
2
3
4
5
6
7
8
['Hankko', 'is', 'academic', 'located', 'South Korea']

In [13]:
admission_year = input("입학 연도를 입력하세요: ")
print(type(admission_year))

입학 연도를 입력하세요: 2016
<class 'str'>

In [14]:
country = ["Korea", "Japan", "China"]
capital = ["Seoul", "Tokyo", "Beijing"]
index = [1,2,3]
country.append(capital)
country[3][1] = index[1:]
print(country)

['Korea', 'Japan', 'China', ['Seoul', [2, 3], 'Beijing']]